---
---
<section id="about" class="max-w-screen-2xl">
    <h2>About</h2>
    <p>Welcome to our website! We are dedicated to providing high-quality products and services to our customers. Our team is passionate about what we do and we strive to exceed expectations. Learn more about our company and our mission below.</p>
</section>